:root {
  --bg: #243c28;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: url("images/background.jpg") no-repeat center center;
  background-size: cover;
}

/* img { */
/*   max-width: 100%; */
/*   height: auto; */
/* } */

.container {
  .character {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    height: 100dvh;

    & * {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    .shirts {
      z-index: 2;
    }

    .body {
      z-index: 0;
    }
  }
}
