:root {
  --white: #fff;
  --black: #000;
  --yellow: yellow;
  --transparent: transparent;
  --sidebar-bg: #243c28;
  /* --sidebar-cell-bg: radial-gradient(#fff 60%, #999 40%); */
  --sidebar-cell-bg: radial-gradient(circle, #fff 30%, #999 70%);
  --inner-shadow: inset -4px -11px 23.4px 35px rgba(0, 0, 0, 0.25);
  --transition: 0.4s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100dvh;
  background: url("images/background.jpg") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}

*::selection {
  color: var(--yellow);
  background: var(--transparent);
}

/* img { */
/*   max-width: 100%; */
/*   height: auto; */
/* } */

.about-character {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 17px;
  color: var(--white);
  z-index: 3;

  .title {
    font-family: Montserrat Alternates;
    font-size: 86px;
    font-weight: 800;
    line-height: 104.83px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 711px;
    height: 105px;
    margin: 0;
  }

  .description {
    margin: 0;
    margin-top: 26px;
    margin-bottom: 88px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 29.26px;
    letter-spacing: 0.02em;
    width: 573px;
    height: 216px;
  }
}

.container {
  position: relative;
  width: 100%;

  .character {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    height: 95dvh;

    & * {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    .shirts {
      z-index: 2;
    }

    .body {
      z-index: 0;
    }
  }

  .sidebar {
    position: absolute;
    top: 4%;
    right: -2%;
    border-radius: 115px;
    box-shadow: var(--inner-shadow);
    background: var(--sidebar-bg);

    &.pick-appearence {
      visibility: hidden;
      transition: var(--transition);
    }

    &.pick-appearence.active {
      visibility: visible;
    }

    &.pick-character {
      display: flex;
      flex-direction: column;
      gap: 91.17px;
      padding: 118px 55px;

      .cell-wrapper {
        display: flex;
        gap: 58.19px;

        .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120.27px;
          height: 166.82px;
          background: var(--sidebar-cell-bg);
          border-radius: 29px;
          color: var(--black);
          transition: var(--transition);

          .text {
            pointer-events: none;
            user-select: none;
          }
        }
      }
    }
  }
}
