.about-character {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 17px;
  color: var(--white);
  z-index: 3;
  transition: var(--transition);

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: 0;
  }

  &.deactive {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10%);
  }

  .title {
    font-family: Montserrat Alternates;
    font-size: 86px;
    font-weight: 800;
    line-height: 104.83px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 711px;
    height: 105px;
    margin: 0;
  }

  .description {
    margin: 0;
    margin-top: 26px;
    margin-bottom: 88px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 29.26px;
    letter-spacing: 0.02em;
    width: 573px;
    height: 216px;
  }
}

@media screen and (width <= 768px) {
  .about-character {
    background: rgba(36, 60, 40, 0.4);
    margin: 0;
    transform: translateY(-98%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 24px;
      color: #fff;
      width: auto;
      line-height: normal;
      padding-block: 8px;
      height: auto;
    }

    .description {
      margin: 0;
      font-weight: 800;
      font-size: 8px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #d9d9d9;
      width: auto;
      height: auto;
    }
  }
}

@media screen and (width <= 533px) {
  .about-character {
    transform: translateY(-78%);
  }
}

@media screen and (width <= 397px) {
  .about-character {
    transform: translateY(-68%);
  }
}
