.container {
  position: relative;
  width: 100%;

  .character {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    height: 94dvh;
    transition: 0.5s ease-in-out;

    &.appearence {
      transform: translateX(-24%);
    }

    & * {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: auto;
      object-fit: cover;
    }

    .shirt {
      z-index: 2;
    }

    .body {
      z-index: 0;
    }
  }

  .sidebar {
    position: absolute;
    top: 6%;
    right: -4%;
    transform: translateY(6%);
    border-radius: 115px;
    box-shadow: var(--inner-shadow);
    background: var(--sidebar-bg);

    &.pick-appearence {
      opacity: 0;
      pointer-events: none;
      user-select: none;
      padding: 45px;
      padding-bottom: calc(45px + 23px);
      transition: var(--transition);
      z-index: 5;

      &.active {
        right: 26px;
        opacity: 1;
        pointer-events: all;
        user-select: all;
        transform: translateY(0px);
      }

      &.deactive {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }

      .title {
        user-select: none;
        margin: 0;
        text-align: center;
        line-height: 39.01px;
        color: var(--white);
        font-family: Montserrat Alternates;
        font-size: 32px;
        font-weight: 800;
      }

      .content {
        display: grid;
        grid-template-columns: 0fr 1fr;
        place-items: center;
        gap: 46px;
        margin-top: 37px;
        user-select: none;

        .icon_wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 28px;

          .icon_container {
            padding: 18px;
            border-radius: 50px;
            border: none;
            outline: none;
            background: var(--appearence-icon-bg);
            transition: var(--transition);
            cursor: pointer;

            &:hover,
            &.active {
              scale: 1.1;
            }

            &.active {
              cursor: default;
            }

            .icon {
              width: 48px;
              height: 48px;
              max-width: 48px;
              max-height: 48px;
              pointer-events: none;
              user-select: none;
            }
          }
        }

        .appearence {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 15px 21px;

          .cell {
            position: relative;
            width: 110px;
            height: 110px;
            max-width: 110px;
            max-height: 110px;
            border-radius: 17px;
            border: none;
            outline: none;
            background: var(--appearence-icon-bg);

            &:hover {
              cursor: not-allowed;
            }

            &:has(.icon):hover {
              cursor: grab;
            }

            &:hover .icon {
              max-width: 80%;
              max-height: 80%;
            }

            .icon {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
              width: 100%;
              height: auto;
              user-select: none;
              pointer-events: none;
              max-width: 70%;
              max-height: 70%;
              transition: var(--transition);
            }
          }
        }
      }
      .save,
      .back {
        position: absolute;
        display: flex;
        justify-self: end;
        padding: 22px 20px;
        font-family: Montserrat Alternates;
        font-weight: bolder;
        bottom: 0;
        transform: translateY(35px);
        font-size: 24px;
        border-radius: 26px;
        outline: none;
        border: none;
        user-select: none;
        color: var(--white);
        background: var(--appearence-icon-bg);
        cursor: pointer;
        transition: var(--transition);

        &:hover {
          background: #34533a;
        }
      }

      .save {
        left: 20%;
      }

      .back {
        left: 60%;
      }
    }

    &.pick-character {
      display: flex;
      flex-direction: column;
      gap: 91.17px;
      padding: 118px 123.27px 118px 55px;
      transition: var(--transition);

      &.active {
        opacity: 1;
        pointer-events: all;
        user-select: all;
      }

      &.deactive {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }

      .cell-wrapper {
        display: flex;
        gap: 58.19px;

        .cell {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120.27px;
          height: 166.82px;
          background: var(--sidebar-cell-bg);
          border-radius: 29px;
          color: var(--black);
          border: none;
          outline: none;
          cursor: pointer;
          transition: var(--transition);

          &:hover {
            -webkit-box-shadow: 20px 20px 0px -3px rgba(47, 182, 69, 0.2);
            -moz-box-shadow: 20px 20px 0px -3px rgba(47, 182, 69, 0.2);
            box-shadow: 20px 20px 0px -3px rgba(47, 182, 69, 0.2);
          }

          .text {
            margin: 0;
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.52px;
            pointer-events: none;
            user-select: none;
          }

          .character.mini {
            height: 23dvh;
            scale: 0.8;
          }
        }
      }
    }
  }
}

@media screen and (width <= 768px) {
  .container {
    .character {
      height: 78dvh;
      transform: translateY(-5%);
    }

    .sidebar {
      top: auto;
      right: auto;
      left: 0;
      bottom: -2%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: -webkit-fill-available;
      border-radius: 30px;
      border-end-end-radius: 0px;
      border-end-start-radius: 0px;
      z-index: 3;

      &.pick-character {
        flex-direction: row;
        gap: 18.74px;
        padding: 36px 10px;

        .cell-wrapper {
          gap: 18.74px;

          .cell {
            width: 60.64px;
            height: 84.9px;
            border-radius: 12px;

            .text {
              display: none;
            }
          }
        }
      }
    }
  }
}
